/* Estilo dos modais */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 85%;
  height: 85%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 60%;
  max-width: 300px;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}

.modal-content img {
  max-width: 100px;
  margin-right: 10px;
  border-radius: 5px;
}

/* Estilo da lista de personagens */
.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.character-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  flex: 1 0 21%; /* Responsividade para 5 personagens por linha */
}

.character-card img {
  max-width: 100%;
  border-radius: 5px;
}

/* Estilo das áreas de jogador */
.player-area {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-hand {
  min-height: 200px;
  border: 2px dashed #aaa;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.card-hand[droppable="true"] {
  background-color: #f9f9f9;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.card img {
  max-width: 85px;
  margin-right: 10px;
  border-radius: 5px;
}

/* Estilo do rodapé */
footer {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
  height: 10vh;
  background-color: #333;
  color: #fff;
}
